@import './../../assets/css/responsive-mixins';

.newbie-tour {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.16);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 3px;
  padding: 20px;
  color: #444444;
  font-size: 18px;

  .title {
    width: 100%;
    font-size: 30px;
    font-weight: 400;

    span {
      font-size: 22px;
      display: block;
      padding-top: 5px;
      padding-left: 15px;
    }
  }

  img {
    max-width: 100%;
    display: block;
  }

  .left {
    width: calc(100% / 12 * 5 - 10px);

    @include size(md) {
      width: 100%;
      text-align: center;

      img {
        margin: 15px auto;
      }
    }

    .supported {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 5px;

      @include size(lg) {
        justify-content: flex-start;
      }

      @include size(md) {
        width: 80%;
        margin: 0px auto;
      }

      @include size(sm) {
        width: 100%;
      }

      .item {
        width: calc(100% / 5 - 5px);
        font-size: 13px;
        text-align: center;
        // padding-top: 84px;
        padding-top: 20%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;

        @include size(lg) {
          width: calc(100% / 3 - 5px);
          background-size: 60%;
        }

        @include size(md) {
          width: calc(100% / 5 - 5px);
          background-size: contain;
        }

        &.supp_youtube {
          background-image: url('./../../assets/images/newbie-tour/supp_youtube.png');
        }

        &.supp_vimeo {
          background-image: url('./../../assets/images/newbie-tour/supp_vimeo.png');
        }

        &.supp_link {
          background-image: url('./../../assets/images/newbie-tour/supp_link.png');
        }

        &.supp_image {
          background-image: url('./../../assets/images/newbie-tour/supp_image.png');
        }

        &.supp_etc {
          background-image: url('./../../assets/images/newbie-tour/supp_etc.png');
        }
      }
    }
  }

  .center {
    width: calc(100% / 12 * 2 - 10px);

    @include size(md) {
      width: 100%;
    }

    img {
      margin: 30px auto;
    }
  }

  .right {
    width: calc(100% / 12 * 5 - 10px);

    @include size(md) {
      width: 100%;
      text-align: center;

      img {
        margin: 15px auto;
      }
    }
  }
}