// Page backgrounds colors
$background-color: #FFFFFF;
$background-image: url('./../images/background.jpg');

// Page side spaces
$page-side-padding: 30px;

// Page fonts
$text-font-primary: 'Roboto', sans-serif;

// Texts colors
$text-color-primary: #707070;
