// Page backgrounds colors
$background-color: #FFFFFF;
$background-image: url('./../images/background.jpg');

// Page side spaces
$page-side-padding: 30px;

// Page fonts
$text-font-primary: 'Roboto', sans-serif;

// Texts colors
$text-color-primary: #707070;

// Buttons
$button-primary-bg-color: #2977f6;
$button-primary-text-color: #FFFFFF;
$button-secondary-bg-color: #dc3545;
$button-secondary-text-color: #FFFFFF;
$button-third-bg-color: #28a745;
$button-third-text-color: #FFFFFF;