.container.login-page {
  max-width: 600px;
  margin: 150px auto 0px;

  .header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFFFFF;

    .back-button {
      color: #FFFFFF;
      font-size: 15px;
      text-decoration: none;
      margin: 80px 10px 0px 0px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0px;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    .form-control {
      width: calc(100% / 2 - 10px);

      input {
        width: 100%;
        color: #6f6e6e;
        font-size: 17px;
        border-radius: 3px;
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
        border: 1px solid #FFFFFF;
        padding: 10px 15px;

        &.error {
          border-color: #ee402d;
          outline-color: #ee402d;
        }
      }
    }

    span.error {
      color: #ee402d;
      font-size: 14px;
      display: block;
      margin-top: 5px;
    }

    button {
      margin-left: auto;
    }
  }
}