@import './../../assets/css/responsive-mixins';

.post-form {
  min-width: 280px;
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  margin-top: 8px;

  @include size(xs) {
    margin-left: -15px;
    margin-right: -15px;
  }

  .left {
    width: 38px;
    height: 70px;
    background-image: url('./../../assets/images/form-input/input_left_bg.png');
    background-repeat: no-repeat;

    .icon {
      width: 28px;
      height: 28px;
      background-repeat: no-repeat;
      background-size: 28px;
      margin: 21px 0px 0px 29px;
      position: relative;

      &.unknown {
        background-image: url('./../../assets/images/form-input/input_unknown.png');
      }

      &.text {
        background-image: url('./../../assets/images/form-input/input_text.png');
      }

      &.link {
        background-image: url('./../../assets/images/form-input/input_link.png');
      }

      &.image {
        background-image: url('./../../assets/images/form-input/input_image.png');
      }

      &.youtube {
        background-image: url('./../../assets/images/form-input/input_youtube.png');
      }

      &.vimeo {
        background-image: url('./../../assets/images/form-input/input_vimeo.png');
      }
    }
  }

  .center {
    display: flex;
    flex-grow: 1;

    &::before, &::after {
      content: '';
      width: 30px;
      height: 70px;
      background-image: url('./../../assets/images/form-input/input_center_bg.png');
      background-repeat: repeat-x;

      @include size(xs) {
        background-position: center top;
      }
    }
    
    .textarea-wrapper {
      flex-grow: 1;
      height: 70px;
      background-image: url('./../../assets/images/form-input/input_center_bg.png');
      background-repeat: repeat-x;
      background-position: top;
      padding: 17px 0px;

      textarea {
        width: 100%;
        height: 100%;
        color: #c0c0c0;
        font-family: 'Roboto';
        font-size: 18px;
        line-height: 33px;
        padding: 2px 5px 0px;
        border: 1px solid transparent;
        background-color: transparent;
        resize: none;

        @include size(xs) {
          font-size: 17px;
        }

        &.error:focus {
          outline-color: #ee402d;
        }
      }
    }

    &.double {
      &::before {
        content: '';
        height: 100px;
        background-image: url('./../../assets/images/form-input/input_center_bg_double_left.png');
        background-repeat: no-repeat;
      }

      &::after {
        content: '';
        height: 100px;
        background-image: url('./../../assets/images/form-input/input_center_bg_double_right.png');
        background-repeat: no-repeat;
      }

      .textarea-wrapper {
        height: 100px;
        background-image: url('./../../assets/images/form-input/input_center_bg_double_center.png');

        textarea {
          line-height: 32px;
        }
      }
    }

    &.triple {
      &::before {
        content: '';
        height: 130px;
        background-image: url('./../../assets/images/form-input/input_center_bg_triple_left.png');
        background-repeat: no-repeat;
      }

      &::after {
        content: '';
        height: 130px;
        background-image: url('./../../assets/images/form-input/input_center_bg_triple_right.png');
        background-repeat: no-repeat;
      }

      .textarea-wrapper {
        height: 130px;
        background-image: url('./../../assets/images/form-input/input_center_bg_triple_center.png');

        textarea {
          line-height: 31px;
        }
      }
    }
  }

  .right {
    display: flex;

    button {
      background-image: url('./../../assets/images/form-input/input_button_bg.png');
      background-repeat: repeat-x;
      padding: 25px 0px 25px 20px;
      border: 0px solid #FFFFFF;
      background-color: transparent;
      margin: 0px;
      color: #FFFFFF;
      font-size: 22px;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 22px;
      cursor: pointer;

      @include size(xs) {
        font-size: 20px;
      }
    }

    &::after {
      content: '';
      width: 39px;
      height: 70px;
      background-image: url('./../../assets/images/form-input/input_right_bg.png');
      background-repeat: no-repeat;
    }
  }
}