@import './../../assets/css/responsive-mixins';

.posts-list {
  columns: 2;
  column-gap: 50px;

  @include size(sm) {
    columns: 1;
  }

  .post-item {
    min-height: 55px;
    border: 1px solid #1C1C1C;
    border-top: 1px solid #0D0D0D;
    background-color: #1C1C1C;
    background-image: url('./../../assets/images/post_bg.jpg');
    background-repeat: repeat;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    color: #707070;
    line-height: 1.618;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.8);
    font-size: 14px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;

    .detail {
      width: 100%;
      max-height: 30px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.45);
      background-color: rgba(0, 0, 0, 0.4);
      padding-top: 5px;
      position: absolute;
      margin-top: -30px;
      transition: margin-top .25s ease-in-out;
      
      .type {
        color: #FFFFFF;
        text-transform: capitalize;
        margin-left: 12px;
      }

      .date {
        color: #666;
        font-size: 11px;
        text-align: right;
        margin-right: 47px;
      }
    }

    .control-wrapper {
      right: 7px;
      position: absolute;

      .control {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        gap: 4px;
        width: 35px;
        height: 65px;
        padding: 3px 6px 18px 5px;
        margin-top: -24px;
        background-image: url('./../../assets/images/icons/control_bg_grey.png');
        background-size: 35px !important;
        transition: margin-top .25s ease-in-out;
  
        .open-post {
          width: 17px;
          height: 20px;
          font-size: 0px;
          display: block;
          background-image: url('./../../assets/images/icons/post_open.png');
          background-repeat: no-repeat;
          background-size: cover;
          text-decoration: none;
        }
  
        .delete-post {
          width: 22px;
          height: 22px;
          font-size: 0px;
          display: block;
          background-color: transparent;
          background-image: url('./../../assets/images/icons/post_delete.png');
          background-repeat: no-repeat;
          background-position: top center;
          border: none;
          cursor: pointer;
          opacity: 0;
          transition: opacity .25s ease-in-out;
  
          &:hover {
            background-position: bottom center;
          }
        }
  
        .icon {
          width: 21px;
          height: 21px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          background-image: url('./../../assets/images/icons/post-icon-unknown.png');
          opacity: 1;
          transition: opacity .25s ease-in-out;
          position: absolute;
          bottom: 15px;
          margin-left: 1px;
        }
  
        &.text {
          background-image: url('./../../assets/images/icons/control_bg_blue.png');
  
          .icon {
            background-image: url('./../../assets/images/icons/post-icon-text.png');
          }
        }
  
        &.link {
          background-image: url('./../../assets/images/icons/control_bg_yellow.png');
  
          .icon {
            background-image: url('./../../assets/images/icons/post-icon-link.png');
          }
        }

        &.image {
          background-image: url('./../../assets/images/icons/control_bg_green.png');
  
          .icon {
            background-image: url('./../../assets/images/icons/post-icon-image.png');
          }
        }
  
        &.video {
          background-image: url('./../../assets/images/icons/control_bg_red.png');
  
          .icon {
            background-image: url('./../../assets/images/icons/post-icon-video.png');
          }
        }
      }

      &::before {
        content: '';
        height: 11px;
        position: absolute;
        left: 4px;
        right: 5px;
        background-image: url('./../../assets/images/icons/control_bg_shadow.png');
        background-repeat: repeat-x;
      }
    }

    .content {
      &.text {
        padding: 25px 22px 22px 22px;
        word-wrap: break-word;
        white-space: pre-line;
      }

      &.link {
        padding: 25px 22px 22px 22px;

        a {
          word-wrap: break-word;
          white-space: pre-line;
          color: #A0BBA8;
          text-transform: uppercase;
        }
      }

      &.image {
        max-width: 100%;
        height: 100%;
        display: block;
      }

      &.video {
        width: 100%;
        height: 100%;
        min-height: 280px;
        border: none;
        display: block;
      }
    }

    &:hover {
      .detail {
        margin-top: 0px;
      }
      
      .control-wrapper {
        .control {
          margin-top: 0px;
          .delete-post {
            opacity: 1;
          }
  
          .icon {
            opacity: 0;
            z-index: -1;
          }
        }
      }
    }

    &.appear {
      opacity: 0;
    }

    &.appear-active {
      opacity: 1;
      transition: opacity 250ms ease-in;
    }

    &.enter {
      opacity: 0;
      min-height: unset;
      max-height: 0px;
      margin-bottom: 0px;
    }

    &.enter-active {
      opacity: 1;
      min-height: 55px;
      max-height: 450px;
      margin-bottom: 40px;
    }

    &.exit {
      opacity: 1;
      min-height: 55px;
      max-height: 450px;
      margin-bottom: 40px;
    }

    &.exit-active {
      opacity: 0;
      min-height: unset;
      max-height: 0px;
      margin-bottom: 0px;
    }

    &.enter-active, &.exit-active {
      transition: opacity .25s ease-in-out, max-height .25s ease-in-out, margin-bottom .25s ease-in-out;
    }
  }
}